/* Base Colors */
$color-alt: #DC8712;

$color-link: $color-alt ;

$color-dark: #212121;
$color-light: #aaa;
$color-white: #fff;
$color-grey: #F5F5F5;
$color-light-grey: #CFCFCF;
$color-blue: #87AFB7;

// Base sizes
$base-font-size: 15 !default;
$padding: 0.4rem;
$avatar-width: 15.33%;