// import variables
@import 'variables';

// import resets
@import 'reset';

// import normalize	
@import 'normalize';

.offset-right{
	margin-left: ($avatar-width/100% * $base-font-size) + ($padding + 0.1) !important;
}

#chat-box{
	position:absolute;
	right:0.4rem;
	bottom:0;
	width: 25%;

	.header,
	.messages,
	.footer{
		width: 100%;
	}

	.body{
		display: none;
	}

	.header{
		background-color: $color-blue;
		border: 1px solid transparent;
		border-radius: 0.45rem 0.45rem 0px 0px;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 0.3rem;
		padding-top: 0.3rem;
		width: 100%;
		display: table;

		.title{
			float: left;
			width: 84.67%;
			color: #ECFFFF;
		}

		.window-controls{
			float: left;
			width: $avatar-width;
			padding-top: 0.2rem;
			
			span{
				display: inline-block;
				border: 1px solid #272929;
				padding-right: 0.28rem;
				padding-left: 0.25rem;
				font-size: 1rem;
				line-height: 1rem;

				&:last-of-type{
					float: right;
					line-height: 1rem;
					padding-left: 0.328rem;
					margin-top: 0.135rem;
				}

				&:hover{
					cursor: pointer;
					background-color: #272929;
					color: #87AFB7;
				}
			}
		}
	}
	

	.messages{
		background-color: $color-grey;
		padding-top: $padding;
		padding-bottom: $padding;
		border-left: 1px solid $color-light-grey; 
		border-right: 1px solid $color-light-grey;
		overflow-y: auto;
		height: 13.33rem; 


		li{
			padding-left: $padding;
			padding-right: $padding;
			display: inline-block;
			width: 100%;
			margin-bottom: 0.333rem;
		}

		.recepient{
			.message{
				padding-left: $padding;		
				background-color: rgb(221, 221, 221);
			}			
		}

		.sender{
			.message{
				float: right;
				background-color: #BEDEE4;
				color: #2F2F2F;
			}			
		}

		.message{
			display: block;
			float: left;
			width: auto;
			max-width: 84.67%;
			padding: $padding;
			word-wrap: break-word;
			border-radius: 0.333rem;
			box-shadow: 0 10px 3px -8px #C0C0C0;		
		}

		.avatar{
			width: $avatar-width;
			float: left;
			padding-right: $padding;
		}
	}

	.footer{
		textarea{
			width: 100%;
			height: 3rem;
			resize: none;
			padding: $padding;
		}
	}
}